<form [formGroup]="profileFrom" (submit)="submitFrom()" class="example-form">
    <mat-card-title style="font-size: 30px"> Add user </mat-card-title>
    <div style="display: flex; margin-top: 20px;">
        <mat-card class="content mat-elevation-z4" style="width: 100%">
            &nbsp; &nbsp; &nbsp;
            <mat-card-content class="submit-week-tabs">
                <div style="display: flex">
                    <div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label for="firstName">First name</mat-label>
                                <input matInput formControlName="firstName" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Gender</mat-label>
                                <mat-select formControlName="gender">
                                    <mat-option value="MALE">MALE</mat-option>
                                    <mat-option value="FEMALE">FEMALE</mat-option>
                                    <mat-option value="TRANSGENDER">TRANSGENDER</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label for="email">Email</mat-label>
                                <input matInput formControlName="email" placeholder="@example.com" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline" style="display: flex">
                                <mat-label>Birthday</mat-label>
                                <div style="display: flex;">
                                    <input matInput [matDatepicker]="picker" formControlName="birthday" />
                                    <div>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </div>
                                </div>
                                <mat-hint>MM/DD/YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="margin-left: 10px;">
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label for="lastName">Last name</mat-label>
                                <input matInput formControlName="lastName" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label for="bankName">Bank name</mat-label>
                                <input matInput formControlName="bankName" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label for="bankNumber">Bank number</mat-label>
                                <input matInput formControlName="bankNumber" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="content mat-elevation-z4">
            <mat-card-header>
                <mat-card-title style="font-size: 30px"> </mat-card-title>
            </mat-card-header>
            &nbsp; &nbsp; &nbsp;
            <mat-card-content class="submit-week-tabs" style="display: flex">
                <div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="buddyId">Buddy name</mat-label>
                            <mat-select id="buddyId" formControlName="buddyId">
                                <mat-option *ngFor="let pm of pmDto" [value]="pm.id">
                                    {{pm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="departmentId">Department name</mat-label>
                            <mat-select id="departmentId" formControlName="departmentId">
                                <mat-option *ngFor="let department of departments" [value]="department.id">
                                    {{department.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Hiring date</mat-label>
                            <div style="display: flex;"><input matInput [matDatepicker]="hiringDate"
                                    formControlName="hiringDate">
                                <div>
                                    <mat-datepicker-toggle matIconSuffix [for]="hiringDate"></mat-datepicker-toggle>
                                    <mat-datepicker #hiringDate></mat-datepicker>
                                </div>
                            </div>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="jobDepartmentId">Position</mat-label>
                            <mat-select id="jobDepartmentId" formControlName="jobDepartmentId">
                                <mat-option *ngFor="let role of roles" [value]="role.id">
                                    {{role.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="username">Username</mat-label>
                            <input matInput placeholder="@ncc.asia" formControlName="username" (input)="changUsername()" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="password">Password</mat-label>
                            <input matInput formControlName="password" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="level">Level</mat-label>
                            <mat-select id="level" formControlName="level">
                                <mat-option *ngFor="let level of ['INTERN', 'FRESHER', 'JUNIOR', 'MIDDLE', 'SENIOR']" [value]="level">
                                  {{level}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div mat-dialog-actions style="float: right; margin-top: 20px">
        <button mat-raised-button type="reset" color="warn" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Ok</button>
    </div>
</form>