<div class="content">
    <mat-card-header style="display: flex; justify-content: space-between;">
        <mat-card-title style="font-size: 30px"> {{data.fullName}} rewards </mat-card-title>
    </mat-card-header>

    &nbsp; &nbsp; &nbsp;
    <table mat-table matSort class="mat-elevation-z8" [dataSource]="dataSource">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="dateBonus">
            <th mat-header-cell *matHeaderCellDef>Date bonus</th>
            <td mat-cell *matCellDef="let element">{{ formatDate(element.dateBonus) }}</td>
        </ng-container>
        <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef>
                Reason
            </th>
            <td mat-cell *matCellDef="let element">{{ element.reason }}</td>
        </ng-container>
        <ng-container matColumnDef="gratuity">
            <th mat-header-cell *matHeaderCellDef>
                Gratuity
            </th>
            <td mat-cell *matCellDef="let element">{{ element.gratuity }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<div mat-dialog-actions style="float: right; margin-top: 20px">
    <button mat-raised-button type="reset" color="warn" (click)="onNoClick()">Cancel</button>
</div>