<div style="width: 450px;">
  <h1 mat-dialog-title *ngIf="this.data.id !== undefined">Edit Bonus</h1>
  <h1 mat-dialog-title *ngIf="this.data.id === undefined">New Bonus</h1>
  <form [formGroup]="bonusForm" (submit)="submitForm()" class="example-form">
    <mat-dialog-content style="flex-direction: column;">
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label for="name">Name</mat-label>
          <input id="name" matInput formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label for="description">Description</mat-label>
          <input id="description" matInput formControlName="description">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label for="gratuity">Gratuity</mat-label>
          <input id="gratuity" matInput formControlName="gratuity">
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions style="float: right;">
      <button mat-raised-button type="reset" color="warn" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button type="submit" color="primary" cdkFocusInitial>Ok</button>
    </div>
  </form>
</div>