<mat-card class="content mat-elevation-z4">
    <mat-card-header>
        <mat-card-title style="font-size: 30px" *ngIf="this.data.id === undefined">
            New project
        </mat-card-title>
        <mat-card-title style="font-size: 30px" *ngIf="this.data.id !== undefined">
            Edit project
        </mat-card-title>
    </mat-card-header>
    &nbsp; &nbsp; &nbsp;
    <mat-card-content class="submit-week-tabs">
        <form [formGroup]="projectFrom" (submit)="submitFrom()" class="example-form">
            <mat-tab-group dynamicHeight class="custom-tab-group">
                <mat-tab label="General">
                    <div class="mat-form-field-general" style="  margin-top: 20px;">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="code">Code</mat-label>
                            <input matInput formControlName="code" />
                        </mat-form-field>
                    </div>
                    <div class="mat-form-field-general">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="name">Name</mat-label>
                            <input matInput formControlName="name" />
                        </mat-form-field>
                    </div>
                    <div class="mat-form-field-general">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label for="description">Description</mat-label>
                            <input matInput formControlName="description" />
                        </mat-form-field>
                    </div>
                    <div class="mat-form-field-general">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="projectType">
                                <mat-option value="TRAINING">TRAINING</mat-option>
                                <mat-option value="PRODUCT">PRODUCT</mat-option>
                                <mat-option value="MAINTAIN">MAINTAIN</mat-option>
                                <mat-option value="OUTSOURCE">OUTSOURCE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mat-form-field-general">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="projectStatus">
                                <mat-option value="ACTIVE">ACTIVE</mat-option>
                                <mat-option value="INACTIVE">INACTIVE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mat-form-field-general">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Enter a date range</mat-label>
                            <div style="display: flex">
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate formControlName="start" placeholder="Start date" />
                                    <input matEndDate formControlName="end" placeholder="End date" />
                                </mat-date-range-input>
                                <div>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </div>
                            </div>
                            <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>

                            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start
                                date</mat-error>
                            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end
                                date</mat-error>
                        </mat-form-field>
                    </div>
                </mat-tab>
                <mat-tab label="Team">
                    <div style="display: flex">
                        <mat-accordion class="mat-accordion">
                            <mat-expansion-panel (opened)="panelMember = true" (closed)="panelMember = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Selected member </mat-panel-title>
                                    <div style="float: right; margin-right: 20px;">
                                        <div *ngIf="this.checkAddMember === false" class="col-md-6">
                                            <button class="col-sm-4" large mat-raised-button color="primary"
                                                style="width: 150px" (click)="addUser(); $event.stopPropagation()" name="createBtn">
                                                <mat-icon>add</mat-icon> Add user
                                            </button>
                                        </div>
                                        <div *ngIf="this.checkAddMember === true" class="col-md-6">
                                            <button class="col-sm-4" large mat-raised-button color="primary"
                                                style="width: 150px" (click)="exitAdd(); $event.stopPropagation()" name="createBtn">
                                                <mat-icon>add</mat-icon> Exit add
                                            </button>
                                        </div>
                                    </div>
                                </mat-expansion-panel-header>
                                <div style="display: flex; justify-content: space-between;" class="search-bar">
                                    <mat-form-field style="width: 100%; margin-right: 10px;" appearance="outline">
                                        <mat-icon style="color: #9e9e9e" matPrefix>search</mat-icon>
                                        <mat-label>Search by keyword</mat-label>
                                        <input matInput formControlName="keywordSelected" name="keywordSelected" />
                                    </mat-form-field>
                                    <button type="button" style="margin-top: 10px;" mat-icon-button mat-raised-button color="primary"
                                        (click)="filterSelected()">
                                        <mat-icon>filter_list</mat-icon>
                                    </button>
                                </div>
                                <div formArrayName="employeeSelectedList" class="list">
                                    <ul *ngFor="let employee of employeeSelectedList.controls; let i = index">
                                        <mat-card
                                            style="display: flex; justify-content: space-between; align-items: center;"
                                            [formGroupName]="i">
                                            <div style="display: block;">
                                                <div><input class="no-border" style="font-weight: bold;" id="name"
                                                        type="text" formControlName="name" />
                                                    <input class="no-border" style="font-weight: bold;" id="roles"
                                                        type="text" formControlName="roles" />
                                                </div>
                                                <div><input class="no-border" id="name" type="text"
                                                        formControlName="email" /></div>
                                            </div>
                                            <div>
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-select formControlName="roleProjectType"
                                                        (selectionChange)="updateRole(employee, i)">
                                                        <mat-option value="PM">PM</mat-option>
                                                        <mat-option value="MEMBER">MEMBER</mat-option>
                                                        <mat-option value="SHADOW">SHADOW</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <button mat-icon-button color="warn" (click)="deleteSelectedEmployee(i)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </mat-card>
                                    </ul>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion *ngIf="this.checkAddMember === true" class="mat-accordion"
                            style="width: 45%;">
                            <mat-expansion-panel (opened)="panelTeamMember = true" (closed)="panelTeamMember = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Select team member </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div style="display: flex; justify-content: space-between;">
                                    <mat-form-field style="width: 100%; margin-right: 10px;" appearance="outline">
                                        <mat-icon style="color: #9e9e9e" matPrefix>search</mat-icon>
                                        <mat-label>Search by keyword</mat-label>
                                        <input matInput formControlName="keyword" />
                                    </mat-form-field>
                                    <button type="button" style="margin-top: 10px;" mat-icon-button mat-raised-button color="primary"
                                        (click)="filter()">
                                        <mat-icon>filter_list</mat-icon>
                                    </button>
                                </div>
                                <div class="list">
                                    <ul *ngFor="let employee of employeeView">
                                        <mat-card style="display: flex; justify-content: space-between">
                                            <div style="display: block;">
                                                <div style="font-weight: bold;">{{ employee.fullName }} -
                                                    {{employee.roles}} </div>
                                                <div>{{ employee.email }}</div>
                                            </div>
                                            <button type="button" mat-icon-button mat-raised-button color="primary"
                                                (click)="addUserToTeam(employee)">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </mat-card>
                                    </ul>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div mat-dialog-actions style="float: right; margin-top: 20px">
                <button mat-raised-button type="reset" color="warn" (click)="onNoClick()">
                    Cancel
                </button>
                <button mat-raised-button type="submit" color="primary" cdkFocusInitial>
                    Ok
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>