.content {
  background-color: white;
  min-height: 200px;
  height: 100vh;
  margin: 16px;
  margin-left: 50px;
  padding: 30px;
}

.example-full-width {
  width: 100%;
  margin-top: 20px;
}

.mat-card-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container-auth {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.content table {
  width: 100%;
}

img {
  width: 100%;
  padding: 20px;
}

.mat-grid-tile:nth-child(1) {
  height: 10px;
}

.mat-grid-tile:nth-child(2) {
  height: 10px;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  justify-content: center;
}

.centered-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -20px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-group button {
  margin: 0 5px;
}

.container {
  display: flex;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel {
  flex: 1;
  padding: 20px;
}

.container {
  display: flex;
}

.left-panel {
  flex: 1;
}

.right-panel {
  overflow-y: auto;
  height: 500px;
}

.list {
  overflow-y: auto;
  max-height: 400px; /* Điều chỉnh chiều cao tối đa của danh sách */
  width: 100%;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list li:last-child {
  border-bottom: none;
}
