<div>
    <h1 mat-dialog-title>Change password</h1>
    <form [formGroup]="passwordFrom" (submit)="submitForm()">
        <mat-dialog-content style="display: grid;">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label for="oldPassword">Old password</mat-label>
                <input type="password" matInput formControlName="oldPassword" required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label for="newPassword">New password</mat-label>
                <input type="password" matInput formControlName="newPassword" required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label for="repeatPassword">Repeat password</mat-label>
                <input type="password" matInput formControlName="repeatPassword" required>
            </mat-form-field>
        </mat-dialog-content>
        <div mat-dialog-actions style="float: right">
            <button mat-raised-button type="reset" color="warn" (click)="onNoClick()">
                Cancel
            </button>
            <button mat-raised-button type="submit" color="primary" cdkFocusInitial>
                Ok
            </button>
        </div>
    </form>
</div>