<div class="content">
    <mat-card-title style="font-size: 30px"> Edit role with {{data.fullName}}</mat-card-title>
    <mat-card style="margin-top: 20px;">
        <span class="example-list-section">
            <div *ngFor="let role of roles">
                <mat-checkbox [checked]="role.checked" (change)="changeRole(role)">{{role.name}}</mat-checkbox>
            </div>
        </span>
    </mat-card>
    <div mat-dialog-actions style="float: right; margin-top: 20px">
        <button mat-raised-button type="reset" color="warn" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" (click)="submit()" [mat-dialog-close]="" cdkFocusInitial>Ok</button>
    </div>
</div>
