<div style="width: 100%;">
    <mat-card-header style="border-bottom: 1px solid silver; display: flex; justify-content: space-between;">
        <mat-card-title style="font-size: 30px"> Absence by {{fullNameViewDetail}}
            <div style="font-size: 15px;" class="badge bg-primary">{{emailViewDetail}}</div>
            <div style="font-size: 15px; margin-left: 5px;" class="badge bg-primary">{{departmentNameViewDetail}}
            </div>
        </mat-card-title>
        <button mat-mini-fab color="primary" (click)="backToView()"><mat-icon>keyboard_return</mat-icon></button>
    </mat-card-header>

    <div style="display: flex; margin-top: 10px; justify-content: center;">
        <mat-form-field appearance="outline">
            <mat-label>Month</mat-label>
            <mat-select [(value)]="monthPer" (valueChange)="findMonthPer()">
                <mat-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="i">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Year</mat-label>
            <mat-select [(value)]="yearPer" (valueChange)="findYear()">
                <mat-option *ngFor="let i of [2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]"
                    [value]="i">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [(value)]="statusPunishment" (valueChange)="findStatus()">
                <mat-option *ngFor="let i of ['ALL', 'PENDING', 'APPROVED', 'REJECTED']" [value]="i">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    &nbsp; &nbsp; &nbsp;
    <mat-card-content >
        <table style="width: 100%;" mat-table matSort (matSortChange)="sortData($event)" class="mat-elevation-z8"
            [dataSource]="dataSourceDetail">
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
            </ng-container>
            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef>
                    Full name
                </th>
                <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>Reason</th>
                <td mat-cell *matCellDef="let element">{{ element.reason }}</td>
            </ng-container>
            <ng-container matColumnDef="dateRequest">
                <th mat-header-cell *matHeaderCellDef>
                    Date request
                </th>
                <td mat-cell *matCellDef="let element">{{ formatDate(element.dateRequest) }}</td>
            </ng-container>
            <ng-container matColumnDef="dateSubmit">
                <th mat-header-cell *matHeaderCellDef>
                    Date submit
                </th>
                <td mat-cell *matCellDef="let element">{{ formatDate(element.dateSubmit) }}</td>
            </ng-container>
            <ng-container matColumnDef="typeTimeOff">
                <th mat-header-cell *matHeaderCellDef>
                    Type time off
                </th>
                <td mat-cell *matCellDef="let element">{{ element.typeTimeOff }}</td>
            </ng-container>
            <ng-container matColumnDef="timeOff">
                <th mat-header-cell *matHeaderCellDef>
                    Time off
                </th>
                <td mat-cell *matCellDef="let element">{{ element.timeOff }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>
                    Status
                </th>
                <td mat-cell *matCellDef="let element">{{ element.status }}</td>
            </ng-container>
            <ng-container matColumnDef="punishmentStatus">
                <th mat-header-cell *matHeaderCellDef>
                    Punishment status
                </th>
                <td mat-cell *matCellDef="let element">
                    <i class="material-icons" *ngIf="element.punishmentStatus === true"
                        style="color:green;">check_circle</i>
                    <i class="material-icons" *ngIf="element.punishmentStatus === false" style="color:red;">error</i>
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="isDeleted">
                <th mat-header-cell *matHeaderCellDef>
                    IsDeleted
                </th>
                <td mat-cell *matCellDef="let element">
                    <i class="material-icons" *ngIf="element.deleted === true"
                        style="color:green;">check_circle</i>
                    <i class="material-icons" *ngIf="element.deleted === false" style="color:red;">error</i>
                </td>
            </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumnsDetals"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDetals"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons [pageSize]="pageSize"
            [pageIndex]="pageNumber" [length]="totalElements" (page)="loadPage($event)"
            aria-label="Select page of periodic elements">
        </mat-paginator>

    </mat-card-content>
</div>