<div class="content">
    <mat-card-header style="border-bottom: 1px solid silver;">
        <mat-card-title style="font-size: 30px"> User </mat-card-title>
    </mat-card-header>
    <div style="display: flex; margin-top: 20px;">
        <div class="col-md-6" style="padding: 5px 15px 10px 0">
            <button class="col-sm-4" large mat-raised-button color="primary" style="width: 100px" (click)="addUser()"
                name="createBtn">
                <mat-icon>add</mat-icon> New
            </button>
        </div>

    </div>
    <div style="display: flex; margin-top: 10px;">
        <mat-form-field appearance="outline">
            <mat-label>Is enable</mat-label>
            <mat-select [(value)]="IsEnableUser" (valueChange)="findIsEnable()">
                <mat-option *ngFor="let i of ['ALL', 'ACTIVE', 'INACTIVE']" [value]="i">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Level</mat-label>
            <mat-select [(value)]="levelUser" (valueChange)="findLevel()">
                <mat-option *ngFor="let i of ['ALL', 'INTERN', 'FRESHER', 'JUNIOR', 'MIDDLE', 'SENIOR']"
                    [value]="i">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select [(value)]="typeUser" (valueChange)="findType()">
                <mat-option *ngFor="let i of ['ALL', 'PM', 'STAFF', 'HR', 'INTERN']" [value]="i">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Branch</mat-label>
            <mat-select [(value)]="branchUser" (valueChange)="findBranch()">
                <mat-option *ngFor="let i of ['ALL', 'HN1', 'HN2', 'HN3', 'ĐN', 'SG']" [value]="i">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
            <mat-icon style="color: #9e9e9e" matPrefix>search</mat-icon>
            <mat-label>Search by keyword</mat-label>
            <input matInput [(ngModel)]="keyword" (keyup.enter)="searchOrFilter()" />
        </mat-form-field>
    </div>
    &nbsp; &nbsp; &nbsp;
    <table mat-table matSort (matSortChange)="sortData($event)" class="mat-elevation-z8" [dataSource]="dataSource">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef> Photo </th>
            <td mat-cell *matCellDef="let element">
                <img src="employee-photos/{{element.id}}/{{element.photo}}" alt="Staff Image">
            </td>
        </ng-container> -->
        <ng-container matColumnDef="fullName">
            <th mat-header-cell mat-sort-header="fullName" *matHeaderCellDef>
                Full Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell mat-sort-header="gender" *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
        </ng-container>
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell mat-sort-header="birthDate" *matHeaderCellDef>
                Birthday
            </th>
            <td mat-cell *matCellDef="let element">{{ formatDate(element.birthDate) }}</td>
        </ng-container>
        <ng-container matColumnDef="hiringDate">
            <th mat-header-cell mat-sort-header="hiringDate" *matHeaderCellDef>
                HiringDate
            </th>
            <td mat-cell *matCellDef="let element">{{ formatDate(element.hiringDate) }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell mat-sort-header="email" *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="buddyName">
            <th mat-header-cell mat-sort-header="buddyName" *matHeaderCellDef>
                Buddy name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.buddyName }}</td>
        </ng-container>
        <ng-container matColumnDef="departmentName">
            <th mat-header-cell mat-sort-header="departmentName" *matHeaderCellDef>
                Department
            </th>
            <td mat-cell *matCellDef="let element">{{ element.departmentName }}</td>
        </ng-container>
        <ng-container matColumnDef="levelStatus">
            <th mat-header-cell mat-sort-header="levelStatus" *matHeaderCellDef>
                Level
            </th>
            <td mat-cell *matCellDef="let element">{{ element.levelStatus }}</td>
        </ng-container>
        <ng-container matColumnDef="salary">
            <th mat-header-cell mat-sort-header="salary" *matHeaderCellDef>Salary</th>
            <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
        </ng-container>
        <ng-container matColumnDef="roles">
            <th mat-header-cell mat-sort-header="roles" *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let element">{{ element.roles }}</td>
        </ng-container>
        <ng-container matColumnDef="isEnabled">
            <th mat-header-cell mat-sort-header="isEnabled" *matHeaderCellDef>
                IsEnabled
            </th>
            <td mat-cell *matCellDef="let element">
                <i class="material-icons" *ngIf="element.isEnabled === true" style="color:green;">check_circle</i>
                <i class="material-icons" *ngIf="element.isEnabled === false" style="color:red;">error</i>
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <section>
                    <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary"
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editUser(element)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit User</span>
                        </button>

                        <button mat-menu-item (click)="editRole(element)">
                            <mat-icon>edit_note</mat-icon>
                            <span>Edit Roles</span>
                        </button>

                        <button mat-menu-item (click)="addBonus(element)">
                            <mat-icon>note_add</mat-icon>
                            <span>Remunerative</span>
                        </button>

                        <button mat-menu-item (click)="viewImage(element)">
                            <mat-icon>view_comfy</mat-icon>
                            <span>Checkin / checkout photos</span>
                        </button>

                        <button mat-menu-item (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        
                        <button *ngIf="element.isEnabled === true" mat-menu-item (click)="deactivateUser(element)">
                            <mat-icon>block</mat-icon>
                            <span>Deactivate</span>
                        </button>
                        <button *ngIf="element.isEnabled === false" mat-menu-item (click)="activateUser(element)">
                            <mat-icon>done_outline</mat-icon>
                            <span>Activate</span>
                        </button>
                    </mat-menu>
                </section>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons [pageSize]="pageSize" [pageIndex]="pageNumber"
        [length]="totalElements" (page)="loadPage($event)" aria-label="Select page of periodic elements">
    </mat-paginator>
</div>