<div style="width: 1000px; justify-content: center;">
  <div style="display: flex; justify-content: space-between;">
    <h1 mat-dialog-title>All absence request on {{this.data.date | date: "dd-MM-yyyy"}}</h1>
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </div>
  <mat-dialog-content>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Request</th>
          <th scope="col">Note</th>
          <th scope="col">Time off</th>
          <th scope="col">Status</th>
          <th scope="col">is punishment</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of absenceViewDto; let i = index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td scope="row">{{item.typeTimeOff}}</td>
            <td scope="row">{{item.reason}}</td>
            <td scope="row">{{item.timeOff}}</td>
            <td scope="row">{{item.status}}</td>
            <td scope="row">
              <span>
                <i class="material-icons" *ngIf="item.punishmentStatus  === true" style="color: green;">check_circle</i>
                <i class="material-icons" *ngIf="item.punishmentStatus  === false" style="color: red;">error</i>
              </span>
            </td>
            <td scope="row">
              <ng-container *ngIf="item.status !== 'APPROVED' && item.status !== 'REJECTED'">
                <section>
                  <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary"
                      aria-label="Example icon button with a menu icon">
                      <mat-icon>menu</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="editAbsenceRequest(item.id, item.typeTimeOff)">
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                      </button>

                      <button mat-menu-item (click)="deleteAbsenceRequest(item.id, item.status)">
                          <mat-icon>delete</mat-icon>
                          <span>Delete</span>
                      </button>
                  </mat-menu>
              </section>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-dialog-content>
</div>