.profile {
  background-image: linear-gradient(
    45deg,
    #ff0000 25%,
    #c74e1e 25%,
    #8d3a19 50%,
    #c21b1b 50%,
    #c21b1b 75%,
    #f54500 75%,
    #f54500 100%
  );
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.profile-content {
  padding: 16px;
  display: flex;
}

.is-active {
  background-color: gray;
}

mat-sidenav-container {
  background-color: lightgray;
  height: calc(100vh - 65px);
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.basic-info {
  color: white;
}
