<mat-toolbar color="warn">
  <span>VIETTEL POST HRM</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Logout button" matTooltip="Logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true" style="width: 18%">
    <div class="profile">
      <div class="profile-content">
        &nbsp;
        &nbsp;
        &nbsp;
        <div class="basic-info">
          <p>{{fullname}}</p>
          <p>{{email}}</p>
        </div>
      </div>
    </div>
    <mat-accordion *ngIf="this.authService.roleMatch(['INTERN', 'STAFF', 'PM', 'HR'])">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a style="font-size: 15px;" mat-list-item routerLink="profile"><mat-icon aria-hidden="false"
              aria-label="Profile" fontIcon="icon">account_box</mat-icon>&nbsp;My Profile</a>
          <a style="font-size: 15px;" mat-list-item routerLink="timesheet"><mat-icon aria-hidden="false"
              aria-label="Timesheet" fontIcon="icon">alarm</mat-icon>&nbsp;My Timesheets</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="this.authService.roleMatch(['PM'])">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Management
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a style="font-size: 15px;" mat-list-item routerLink="admin_user"><mat-icon aria-hidden="false"
              aria-label="Admin" fontIcon="icon">account_box</mat-icon>&nbsp;Users</a>
          <a style="font-size: 15px;" mat-list-item routerLink="admin_project"><mat-icon aria-hidden="false"
              aria-label="Admin" fontIcon="icon">assessment</mat-icon>&nbsp;Projects</a>
          <a style="font-size: 15px;" mat-list-item routerLink="admin_department"><mat-icon aria-hidden="false"
              aria-label="Admin" fontIcon="icon">apartment</mat-icon>&nbsp;Departments</a>
          <a style="font-size: 15px;" mat-list-item routerLink="admin_job_department"><mat-icon aria-hidden="false"
              aria-label="Admin" fontIcon="icon">description</mat-icon>&nbsp;Job department</a>
          <a style="font-size: 15px;" mat-list-item routerLink="manage_timesheet"><mat-icon aria-hidden="false"
              aria-label="Manage Employee Timesheet" fontIcon="icon">alarm</mat-icon>&nbsp;Timesheet</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>