<div class="content">
    <div *ngIf="checkViewDeital === false">
        <mat-card-header style="border-bottom: 1px solid silver;">
            <mat-card-title style="font-size: 30px"> Tardiness / Leave early </mat-card-title>
        </mat-card-header>
        <div style="display: flex; margin-top: 10px;">
            <mat-form-field appearance="outline">
                <mat-label>Month</mat-label>
                <mat-select [(value)]="month" (valueChange)="findMonth()">
                    <mat-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Year</mat-label>
                <mat-select [(value)]="year" (valueChange)="findYear()">
                    <mat-option *ngFor="let i of [2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]"
                        [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Branch</mat-label>
                <mat-select [(value)]="branchUser" (valueChange)="findBranch()">
                    <mat-option *ngFor="let i of ['ALL', 'HN1', 'HN2', 'HN3', 'ĐN', 'SG']"
                        [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                <mat-icon style="color: #9e9e9e" matPrefix>search</mat-icon>
                <mat-label>Search by keyword</mat-label>
                <input matInput [(ngModel)]="keyword" (keyup.enter)="searchOrFilter()" />
            </mat-form-field>
        </div>
        &nbsp; &nbsp; &nbsp;
        <table mat-table matSort (matSortChange)="sortData($event)" class="mat-elevation-z8" [dataSource]="dataSource">
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
            </ng-container>
            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef>
                    Full Name
                </th>
                <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>
            <ng-container matColumnDef="departmentName">
                <th mat-header-cell *matHeaderCellDef>
                    Department
                </th>
                <td mat-cell *matCellDef="let element">{{ element.departmentName }}</td>
            </ng-container>
            <ng-container matColumnDef="countCheckInLate">
                <th mat-header-cell *matHeaderCellDef>
                    Check in late
                </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.countCheckInLate > 0" style="color: red">{{ element.countCheckInLate }}</span>
                    <span *ngIf="element.countCheckInLate === 0">{{ element.countCheckInLate }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="countNotCheckIn">
                <th mat-header-cell *matHeaderCellDef>Not checkin</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.countNotCheckIn > 0" style="color: red">{{ element.countNotCheckIn }}</span>
                    <span *ngIf="element.countNotCheckIn === 0">{{ element.countNotCheckIn }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="countNotCheckOut">
                <th mat-header-cell *matHeaderCellDef>Note check out</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.countNotCheckOut > 0" style="color: red">{{ element.countNotCheckOut }}</span>
                    <span *ngIf="element.countNotCheckOut === 0">{{ element.countNotCheckOut }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab (click)="viewCheckInDetail(element)"><mat-icon>visibility</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons [pageSize]="pageSize"
            [pageIndex]="pageNumber" [length]="totalElements" (page)="loadPage($event)"
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

    <div *ngIf="checkViewDeital === true">
        <mat-card-header style="border-bottom: 1px solid silver; display: flex; justify-content: space-between;">
            <mat-card-title style="font-size: 30px"> Tardiness / Leave early detail by {{fullNameViewDetail}}
                <div style="font-size: 15px;" class="badge bg-primary">{{emailViewDetail}}</div>
                <div style="font-size: 15px; margin-left: 5px;" class="badge bg-primary">{{departmentNameViewDetail}}
                </div>
            </mat-card-title>
            <button mat-mini-fab color="primary" (click)="backToView()"><mat-icon>arrow_back</mat-icon></button>
        </mat-card-header>

        <div style="display: flex; margin-top: 10px; justify-content: center;">
            <mat-form-field appearance="outline">
                <mat-label>Month</mat-label>
                <mat-select [(value)]="monthPer" (valueChange)="findMonthPer()">
                    <mat-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Year</mat-label>
                <mat-select [(value)]="yearPer" (valueChange)="findYearPer()">
                    <mat-option *ngFor="let i of [2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]"
                        [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select [(value)]="statusPunishment" (valueChange)="findStatus()">
                    <mat-option *ngFor="let i of ['ALL', 'CHECK_POINT', 'REJECTED']" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Complain</mat-label>
                <mat-select [(value)]="complainPunishment" (valueChange)="findComplain()">
                    <mat-option *ngFor="let i of ['ALL', 'COMPLAIN', 'NOT COMPLAIN']" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Punishment</mat-label>
                <mat-select [(value)]="isPunishment" (valueChange)="findPunishment()">
                    <mat-option *ngFor="let i of ['ALL', 'PUNISHMENT', 'NOT PUNISHMENT']" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        &nbsp; &nbsp; &nbsp;
        <mat-card-content>
            <table mat-table matSort (matSortChange)="sortData($event)" class="mat-elevation-z8"
                [dataSource]="dataSourceDetail">
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>
                        Date
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
                </ng-container>
                <ng-container matColumnDef="timeCheckin">
                    <th mat-header-cell *matHeaderCellDef>Check in</th>
                    <td mat-cell *matCellDef="let element">{{ element.timeCheckin }}</td>
                </ng-container>
                <ng-container matColumnDef="timeCheckout">
                    <th mat-header-cell *matHeaderCellDef>
                        Check out
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.timeCheckout }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>
                <ng-container matColumnDef="punishmentTypeDes">
                    <th mat-header-cell *matHeaderCellDef>
                        Punishment description
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.punishmentTypeDes }}</td>
                </ng-container>
                <ng-container matColumnDef="punishmentMoney">
                    <th mat-header-cell *matHeaderCellDef>
                        Punishment money
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.punishmentMoney }}</td>
                </ng-container>
                <ng-container matColumnDef="complain">
                    <th mat-header-cell *matHeaderCellDef>
                        Complain
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.complain }}</td>
                </ng-container>
                <ng-container matColumnDef="complainReply">
                    <th mat-header-cell *matHeaderCellDef>
                        Complain reply
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.complainReply }}</td>
                </ng-container>
                <ng-container matColumnDef="isDeleted">
                    <th mat-header-cell *matHeaderCellDef>
                        IsDeleted
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <i class="material-icons" *ngIf="element.deleted === true"
                            style="color:green;">check_circle</i>
                        <i class="material-icons" *ngIf="element.deleted === false" style="color:red;">error</i>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <section>
                            <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary"
                                aria-label="Example icon button with a menu icon">
                                <mat-icon>menu</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="replyComment(element)">
                                    <mat-icon>reply</mat-icon>
                                    <span>Reply</span>
                                </button>
                                <button *ngIf="element.punishmentTypeDes !== null && element.deleted === false"
                                    mat-menu-item (click)="updateCancelPunishment(element)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Cancel punishment</span>
                                </button>
                                <button *ngIf="element.punishmentTypeDes !== null && element.deleted === true"
                                    mat-menu-item (click)="updatePunishment(element)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Update punishment</span>
                                </button>
                                <button *ngIf="element.status === 'CHECK_POINT'" mat-menu-item
                                    (click)="updateReject(element)">
                                    <mat-icon>block</mat-icon>
                                    <span>Reject</span>
                                </button>
                                <button *ngIf="element.status === 'REJECTED'" mat-menu-item
                                    (click)="updateCheckPoint(element)">
                                    <mat-icon>vpn_key</mat-icon>
                                    <span>Check point</span>
                                </button>
                            </mat-menu>
                        </section>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsDetals"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDetals"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons [pageSize]="pageSize"
                [pageIndex]="pageNumber" [length]="totalElements" (page)="loadPage($event)"
                aria-label="Select page of periodic elements">
            </mat-paginator>

        </mat-card-content>
    </div>
</div>