<mat-card style="width: 370px; height: 150px;" *ngIf="isExactly === false">
    <h1 class="custom-card" mat-dialog-title style="color: red;"> Is this information accurate? <i
            class="material-icons" style="color:red;">error</i>
    </h1>
    <mat-card-content style="display: block;">
        <p> Name: {{ employeeDetailDto.firstName }} {{employeeDetailDto.lastName}} </p>
        <p> Email: {{employeeDetailDto.email}}</p>
        <p> Probability: {{ probability }} %</p>
    </mat-card-content>
    <div mat-dialog-actions style="float: right; margin-top: 20px;">
        <button mat-raised-button type="reset" color="warn" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" (click)="checkin()">Confirm</button>
    </div>
</mat-card>

<mat-card style="width: 370px; height: 150px;" *ngIf="isExactly === true">
    <h1 class="custom-card" mat-dialog-title style="color: green;"> Checkin successfully! <i class="material-icons"
            style="color:green;">check_circle</i></h1>
    <mat-card-content style="display: block;">
        <p> Name: {{ employeeDetailDto.firstName }} {{employeeDetailDto.lastName}} </p>
        <p> Email: {{employeeDetailDto.email}}</p>
        <p> Probability: {{ probability }} %</p>
    </mat-card-content>
    <div mat-dialog-actions style="float: right; margin-top: 20px;">
        <button mat-raised-button type="reset" color="warn" (click)="onNoClickSucces()">Cancel</button>
    </div>
</mat-card>