// .content {
//     background-color: white;
//     min-height: 200px;
//     height: 100vh;
//     margin: 16px;
//     margin-left: 32px;
//     padding: 30px;
// }

.content table {
    width: 100%;
}

img {
    width: 100px;
    padding: 3px;
}

.example-full-width{
    margin-left: 10px;
    width: 250px;
}

.example-form{
    margin-top: 10px;
}
